<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the jungle <%= @user.first_name %></h1>
    <p>
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
    login <%= @url %>.
    </p>
  </body>
</html>
